$main-color: #6B7280;

.pagination {
  margin: 15px auto;
  padding-bottom: 3rem;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: $main-color ;
  border-color: $main-color ;
  color: #F3F4F6;
}
.pagination > li > a{
  border: 1px solid $main-color ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: $main-color ;
  border-color: $main-color;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: $main-color
}
.pagination > li:first-child > a, .pagination > li:first-child > span{
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.pagination > li:last-child > a, .pagination > li:last-child > span{
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
